@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.ForgotPassworForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  width: 35%;
}
.input-fpf {
  height: 2.3rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  /* From https://css.glass */
  background: rgba(136, 126, 177, 0.37);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(136, 126, 177, 0.41);
  margin-bottom: 0.5rem;
  padding-left: 0.6rem;
}

.input-fpf:active {
  outline: none;
}
.input-fp {
  height: 2.5rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  border: none;
}

.input-fp:hover {
  cursor: pointer;
}
.input-fp:active {
  color: #3973b4;
  background: rgba(255, 255, 255, 0.336);
  transform: scale(1.05);
}
