.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(27, 42, 88) 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.Account {
  display: flex;
  justify-content: center;
}

.account-container {
  display: flex;

  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
  width: 20%;
  height: 50vh;
  z-index: 1;
  /* From https://css.glass */
  background: rgba(200, 190, 190, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(200, 190, 190, 0.3);
}

.pic-wrapper {
  display: flex;
  margin-top: 1rem;
}
.profile-pic {
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
