.Footer {
  background-color: #bfcde2;
  display: flex;
  flex-direction: column;
}

.subscribeTxt {
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 2.5rem;
}

label,
input {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.news-email {
  border-radius: none;
  height: 2rem;
  width: 30rem;
}

.subtn {
  background-color: #4c5e7a;
  height: 2.5rem;
  width: 5rem;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
}
.subtn:hover {
  cursor: pointer;
  background-color: #808b9e;
}
