@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.Main {
  background-color: #abb9cf;
  display: flex;
  margin-top: 6%;
  justify-self: center;

  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border-radius: 5px;
}

.paragraph {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  width: 95%;
  height: 100%;
}
.content {
  width: 50%;
}
.square {
  flex: 50%;
}

.advert {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(27, 42, 88);
}

.subject {
  margin-right: 0;
  height: 100%;
}
.subject img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
