:root {
  --text: #0c0e0d;
  --background: #dee0e8;
  --primary: #b6aab3;
  --secondary: #abb9cf;
  --accent: #8c7886;
}
:root[data-theme="dark"] {
  --text: #f1f3f2;
  --background: #171921;
  --primary: #554952;
  --secondary: #303e54;
  --accent: #877381;
}
.Login {
  background-image: linear-gradient(90deg, #abb9cf 10%, #171921 90%);
  display: flex;
  justify-content: center;
}

.login-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  margin: 2%;
  margin-top: 5%;
}
.LoginForm {
  width: 100%;

  border-radius: 5px;
}
