.NavBar {
  background-color: #505777;
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.right {
  width: auto;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;

  margin-right: 1rem;
}

.profile {
  height: 2.3rem;
  width: 2.3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.hamburger {
  margin: auto 0;
  margin-left: 1.2rem;
  height: 2.3rem;
  width: 2.3rem;
}

.Notification {
  width: 2.1rem;
  height: 2.1rem;
}

.bell {
  width: 2.1rem;
  height: 2.1rem;
}
