.SideBar {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  background-color: #97a0c5;
  height: 37.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.list {
  gap: 0;
  margin-left: -2rem;
  margin-top: 0.3rem;
}
