@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

:root {
  --text: #0c0e0d;
  --background: #dee0e8;
  --primary: #b6aab3;
  --secondary: #abb9cf;
  --accent: #8c7886;
}
.App {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
